<!-- 搜索遮罩框 -->
<div id="searchModal" class="modal">
    <div class="modal-content">
        <div class="search-header">
            <span class="title"><i class="fas fa-search"></i>&nbsp;&nbsp;<%= __('search') %></span>
            <input type="search" id="searchInput" name="s" placeholder="<%= __('searchTip') %>"
                   class="search-input">
        </div>
        <div id="searchResult"></div>
    </div>
</div>

<script src="/js/search.js"></script>
<script type="text/javascript">
$(function () {
    searchFunc("<%= config.root %>" + "search.xml", 'searchInput', 'searchResult');
});
</script>

<script type="text/javascript">//樱花
	var system ={}; 
	var p = navigator.platform; 
	system.win = p.indexOf("Win") == 0; 
	system.mac = p.indexOf("Mac") == 0; 
	system.x11 = (p == "X11") || (p.indexOf("Linux") == 0); 
	if(system.win||system.mac||system.xll){//如果是电脑

	$.getScript("/js/sakura.js");
	}else{ //如果是手机

	}
 </script>